:root {
  --ifm-color-primary: #ff884c;
  --ifm-font-family-base: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial;
  --ifm-container-width: 800px;
  --ifm-container-width-xl: 1000px;
  --docusaurus-highlighted-code-line-bg: rgba(255, 215, 0, 0.15);
}

h1 {
  font-size: 2.5em !important;
}

.pagination-nav {
  display: none;
}
